
{% extends "candymuebles/base.html" %}

{% block head %}
<style type="text/css">
    @media screen and (max-width: 600px) {
      section.hide {
        display: none;
      }
    }
    @media screen and (max-width: 600px) {
      div.mobil {
        max-height: 300px;
      }
    }
    .fc td, .fc th {
         border-color: rgb(0, 0, 0) !important;
    }

</style>
{% endblock %}


{% block content %}
<div class="container" style="max-width:100% !important">
<div class="media-container-row">
    <div class="col-12 col-md-6">
        <section class="extGallery testimonials-slider cid-shTg817aK0" data-interval="false" id="extGallery6-k" style="padding-top: 80px">

            <div class="main container">

                <div class="row justify-content-center">


                    <div class="second-col col-md-10">
                        <div class="carousel slide slides" role="listbox" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="5000">
                            <ol class="carousel-indicators">
                                <li class="li1" data-slide-to="0" style="background-image: url({{producto.foto.url}});"></li>
                                {% if producto.foto2 != "" %}
                                <li class="li1" data-slide-to="1" style="background-image: url({{producto.foto2.url}});"></li>
                                {% endif %}
                                {% if producto.foto3 != "" %}
                                <li class="li1" data-slide-to="2" style="background-image: url({{producto.foto3.url}});"></li>
                                {% endif %}
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item ">
                                    <div class="media-container-row">
                                        <div class="col-md-12">
                                            <div class="row justify-content-center">
                                                <div class="col-md-6">
                                                    <div class="text-box align-left">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="text-box align-right">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wrap-img " style="background-image: url({{producto.foto.url}});">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if producto.foto2 != "" %}
                                    <div class="carousel-item ">
                                        <div class="media-container-row">
                                            <div class="col-md-12">
                                                <div class="row justify-content-center">
                                                    <div class="col-md-6">
                                                        <div class="text-box align-left">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="text-box align-right">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wrap-img " style="background-image: url({{producto.foto2.url}});">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if producto.foto3 != "" %}
                                    <div class="carousel-item ">
                                        <div class="media-container-row">
                                            <div class="col-md-12">
                                                <div class="row justify-content-center">
                                                    <div class="col-md-6">
                                                        <div class="text-box align-left">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="text-box align-right">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wrap-img " style="background-image: url({{producto.foto3.url}});">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-12 col-md-6">
        <section class="mbr-section content4 cid-shTgzItghx hide" id="content4-m"><br><br>
        </section>
        <section class="mbr-section content4 cid-shTgzItghx" id="content4-m" style="padding-top: 0px;">

            <div class="container">
                <div class="item_overlay" data-toggle="modal">

                </div>
                <form id="sendsubmit" action="/add_carrito/" method="POST" >
                    {% csrf_token %}
                    <div class="media-container-row">
                        <div class="title col-12 col-md-11">
                            <h2 class="align-center pb-3 mbr-fonts-style display-2">
                                {{producto.nombre}}
                            </h2>
                            <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                                {{producto.descripcion}}
                            </h3>
                            <br><br>
                            <!-- <div class="mbr-text mbr-fonts-style display-7">
                                {{producto.precio}}
                            </div> -->
                            <div class="price-block">
                                {% if producto.promocion is True or producto.preventa is True %}
                                    <span class="shop-item-price mbr-fonts-style display-5">${{producto.precio_promocion}} </span>
                                    <span class="oldprice mbr-fonts-style display-7" >${{producto.precio}}</span>
                                {% else %}
                                    <span class="shop-item-price mbr-fonts-style display-5">${{producto.precio}}</span>
                                {% endif %}
                            </div>
                            <div class="col-md-12 col-lg-6 form-group" data-for="firstname">
                                <input type="number" name="cantidad" autocomplete="off" id="cantidad" placeholder="Cantidad" data-form-field="First Name" required="required" class="form-control display-7" >
                            </div>
                            <div class="col-md-12 col-lg-6 form-group" data-for="email">
                                <input type="text" name="fecha_ini" onchange="ChangeFechaFin()" readonly autocomplete="off" placeholder="Fecha Inicio" data-form-field="Email" required="required" class="form-control display-7" id="fechaini">
                            </div>
                            <div class="col-md-12 col-lg-6 form-group" data-for="email">
                                <input type="text" name="fecha_fin"  readonly autocomplete="off"  placeholder="Fecha Fin" data-form-field="Email" required="required" class="form-control display-7" id="fechafin">
                            </div>
                            <div class="col-md-12 input-group-btn">
                                <button type="button" class="btn btn-form btn-success display-4" onclick="OpenModal()" data-target=".bd-example-modal-xl">Consultar</button>
                            </div>
                            <div class="col-md-12 input-group-btn">
                                <button type="submit" class="btn btn-form btn-info display-4">Agregar al Carrito</button>
                            </div>
                            <input type="hidden" name="idpro" id="idproduct" value={{producto.idproducto}}>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
</div>

<section class="mbr-section article content11 cid-shTgvaq0Bt" id="content11-l">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                            ¿Como arrendar un producto?
                        </h2> <br>
                <ol>
                    <li><strong>&nbsp;ELIGE LA CANTIDAD QUE QUIERAS ARRENDAR - </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</li>
                    <li><strong>ELIGE UNA FECHA PARA ARRENDAR UN MUEBLE&nbsp;</strong>- &nbsp;Las fechas en gris ya fueron tomadas por lo que debes eligir alguna disponible</li>
                    <li><strong>AGREGALO A TU CARRITO Y TERMINA TU ARRIENDO</strong>&nbsp;- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</li>
                </ol>
            </div>
        </div>
    </div>
</section>



<!-- Extra large modal -->


  <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="myModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">DISPONIBILIDAD</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div id="content" class="col-lg-12">
                        <div id="calendar"></div>
                        <div id="calendaroculto"></div>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
<script>


</script>
 <script>
     function addZero(i) {
    if (i < 10) {
        i = '0' + i;
    }
    return i;
    }

    var hoy = new Date();
    var dd = hoy.getDate();
    if(dd<10) {
        dd='0'+dd;
    }

    if(mm<10) {
        mm='0'+mm;
    }

    var mm = hoy.getMonth()+1;
    var yyyy = hoy.getFullYear();

    dd=addZero(dd);
    mm=addZero(mm);

    $(document).ready(function() {

    });
    function FullCalendar(fechaini,fechafin,tipo,fechasdisponibles,fechasbloqueadas){
        var index = 0;
        let fecha_ini;
        let fecha_fin;
        // console.log(fechaini);
        // console.log(moment(fechafin).format('YYYY-MM-DDTHH:mm:ss'));
        $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'month'
                },
                height:600,
                defaultDate: moment(fechaini),
                // defaultDate: yyyy+'-'+mm+'-'+dd,
                buttonIcons: true, // show the prev/next text
                weekNumbers: false,
                //editable: true,
                eventLimit: true, // allow "more" link when too many events
                displayEventTime: false,
        		//selectable: true,
                events: [
                    {
                        title: 'Fechas Seleccionadas',
                        description: 'Seleccionadas',
                        start: moment(fechaini).format('YYYY-MM-DDTHH:mm:ss'),
                        end:  moment(fechafin+'T23:59:59').format('YYYY-MM-DDTHH:mm:ss'),
                        color: '#3A87AD',
                        textColor: '#ffffff',
                    }
                ],
                dayClick: function (date, jsEvent, view) {
                },
                eventClick: function (calEvent, jsEvent, view) {
                    console.log("eventClick");
                },
        		dayRender: function(date, cell){
                    index += 1
                    if (index % 42 == 1 || index % 42 == 0 ){
                        
                        if (index % 42 == 1 ){
                            fecha_ini = moment(date).format("YYYY-MM-DD")
                        }
                        if (index % 42 == 0 ){
                            fecha_fin = moment(date).format("YYYY-MM-DD")
                            Disponibilidad(fecha_ini,fecha_fin);
                        }
                    }
                }
            }); 
    }

    function OpenModal(){
        let fechaini = $('#fechaini').val();
        var  date_fecini = moment(fechaini, 'DD/MM/YYYY').toDate();
        fechaini = moment(date_fecini).format("YYYY-MM-DD")
        let fechafin = $('#fechafin').val();
        var  date_fecfin = moment(fechafin, 'DD/MM/YYYY').toDate();
        fechafin = moment(date_fecfin).format("YYYY-MM-DD")
        $('#calendar').fullCalendar('destroy');
        setTimeout(function(){
            FullCalendar(fechaini,fechafin,1,[],[]);
        }, 500);
        $("#myModal").modal('toggle');
    }


    function Disponibilidad(fecha_ini_calend,fecha_fin_calend){
        // let fecha_ini_calend = arrayfechas[0];
        // let fecha_fin_calend = arrayfechas[1];
        let idproduct = $('#idproduct').val();
        let cantidad = $('#cantidad').val();
        let fechaini = $('#fechaini').val();
        let fechafin = $('#fechafin').val();
        let listDisponible=[];
        let rpt = validaCampo(cantidad,fechaini,fechafin);
        if (rpt== true){
            $.ajax({
                    type: 'GET',
                    url: "/consultaDisponibilidad/",
                    data : {
                        'idproduct':idproduct,
                        'cantidad':cantidad,
                        'fechaini':fechaini,
                        'fechafin':fechafin,
                        'fecha_ini_calend':fecha_ini_calend,
                        'fecha_fin_calend':fecha_fin_calend
                    },
                    dataType: 'json',
                }).done(function (data){
                    // console.log(data);
                    fechasdisponibles=[];
                    fechasbloqueadas=[];
                    cantdisp = 0;
                    var  date_fecini = moment(fechaini, 'DD/MM/YYYY').toDate();
                    fechaini = moment(date_fecini).format("YYYY-MM-DD")
                    var  date_fecfin = moment(fechafin, 'DD/MM/YYYY').toDate();
                    fechafin = moment(date_fecfin).format("YYYY-MM-DD")
                    listDisponible.push(
                        {
                            title: 'Fechas Seleccionadas',
                            description: 'Seleccionadas',
                            start: moment(fechaini).format('YYYY-MM-DDTHH:mm:ss'),
                            end:  moment(fechafin+'T23:59:59').format('YYYY-MM-DDTHH:mm:ss'),
                            color: '#3A87AD',
                            textColor: '#ffffff',
                        }
                    )
                    data.forEach(element => {
                        // console.log(element[0]);
                        if (element[3] >= 0){
                            fechasdisponibles.push(element[0])
                        }else{
                            fechasbloqueadas.push(element[0])
                        }
                        $("#calendar").fullCalendar('removeEvents'); 
                        if (element[3] < 0){
                            cantdisp = 0
                        }else{
                            cantdisp = element[3]
                        }
                        listDisponible.push(
                            {
                                title: 'Disponible:'+ cantdisp,
                                description: 'Disponible',
                                start: moment(element[0]).format('YYYY-MM-DDTHH:mm:ss'),
                                color: '#cfe9f7',
                                textColor: '#296281',
                            }
                        )
                    });

                    $("#calendar").fullCalendar('addEventSource', listDisponible);
                    // console.log(listDisponible);

                    fechasdisponibles.forEach(element => {
                        // console.log(element);
                        $("[data-date='"+ element +"']").css('background-color', '#d2f0d1');
                    });

                    fechasbloqueadas.forEach(element => {
                        // console.log(element);
                        $("[data-date='"+ element +"']").css('background-color', '#f8a9a5');
                    });
                })
        }
    }

    function validaCampo(cantidad,fechaini,fechafin){
        let rpt = true;
        if (cantidad == ""){
            rpt = false;
        }else if (fechaini == ""){
            rpt = false;
        }else if (fechafin == ""){
            rpt = false;
        }
        return rpt;
    }

    function ChangeFechaFin(){
        let fecha_ini = $("#fechaini").val()
        $("#fechafin" ).datepicker("destroy");
        $("#fechafin" ).datepicker(
            {            
            defaultDate: new Date(moment(fecha_ini,'DD/MM/YYYY').format('YYYY-MM-DD')), 
            beforeShowDay: function(date){              
                var val =  new Date(moment(fecha_ini,'DD/MM/YYYY').format('YYYY-MM-DD')) < date ;
                return [ val ]
                }
            }
        );
    }

    $( function() {
       $("#fechaini").datepicker(
           {             
            beforeShowDay: function(date){  
                console.log(date);             
                var val =  new Date(moment(Date.now()).add(1,'day').format('YYYY-MM-DD')) < date ;
                return [ val ]
            }
        });
    });


  </script>
{% endblock %}