{% extends "candymuebles/base.html" %}

{% block content %}




<section class="cid-shTkhlUO3l" id="extHeader4-q">
    
    <div class="scroll-wrapper" style="animation-duration: 30s;"></div>
    <div class="scroll-wrapper second" style="animation-duration: 30s;"></div>
    <div class="mbr-overlay" style="background-color: rgb(0, 0, 0); opacity: 0.2;">
    </div>
    <div class="container text-center block-content" data-stellar-background-ratio=".5">
      <div class="row justify-content-center slider-wrapper">
        <div class="col-md-10">
          <h2 class="mbr-section-title mbr-fonts-style mbr-bold align-center display-1">Candy Muebles</h2>
          <h4 class="mbr-text mbr-fonts-style align-center mbr-bold display-5"><strong>slogan de la empresa</strong></h4><h4>
        </h4></div>
      </div>
    </div>
    
</section>

<section class="extHeader cid-shTkzBfk6U" id="extHeader14-r">
    

    

    <div class="container">
        <div class="row main-row">
            <div class="text-content mb-4 col-lg-6">
                <h2 class="mb-4 mbr-fonts-style mbr-section-title display-2">Nosotros nos encargamos</h2>
                <h3 class="mbr-fonts-style mbr-text align-left mbr-light display-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<div>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div><div>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</div><div>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</div><div>cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.</div></h3>
                <div class="list counter-container col-12  mbr-fonts-style mbr-black display-7">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li><li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li><li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
                    </ul>
                </div>
                <div class="mbr-section-btn align-left"><a class="btn btn-md btn-success display-4" href="#">Arrendar Muebles Ahora!</a></div>
            </div>
     
            <div class="mbr-figure col-lg-6">
                <img src="../../static/assets/candymuebles/images/3-500x500.png" alt="#" title="">
            </div>

        </div>
    </div>
</section>

<section class="cid-si29wVkGKV" id="social-buttons2-1c">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">Siguenos en redes sociales...</h2>
                <div class="social-list pl-0 mb-0">
                    <a href="https://twitter.com/#" target="_blank">
                        <span class="px-2 mbr-iconfont mbr-iconfont-social socicon-whatsapp socicon"></span>
                    </a>
                    <a href="https://www.facebook.com/pages/#/1616226671953247" target="_blank">
                        <span class="px-2 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                    </a>
                    <a href="https://instagram.com/#" target="_blank">
                        <span class="px-2 socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                    </a>
                    <a href="https://www.youtube.com/c/#" target="_blank">
                        
                    </a>
                    <a href="https://www.behance.net/#" target="_blank">
                        
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}